<div class="friends-list sub-header">
  <h1>Your Friends</h1>
</div>

<ul class="friends-list">
  <% friends.each(function(friend) { %>
  <li>

    <a href="#/users/<%= friend.get("id") %>">
      <%= friend.escape("username") %>
    </a>

		<a href="#/users/<%= friend.get("id") %>">
      <img src="<%= friend.escape("filepicker_url") %>">
    </a>

	</li>
  <% }) %>
</ul>
