<div class="container">
  <div class="landing-page sub-header">
    <h1>Fun and efficient learning</h1>

    <h3>Welcome to the Zhongguo (we got fun and games)</h3>
    <a href="<%= new_user_url %>">Sign Up - It's Free!</a>
  </div>

	<div class="user-credentials"></div>

	<div class="landing-image"></div>

	<h1 class="how">How does Memgrow Work?</h1>

	<div class="first">
				<%= image_tag "speech1.png", size: "100x90", :class => "speech_icon" %>
				<p class="first">Learning shouldn't be a chore. If you're learning something interesting and rewarding (like Chinese), you should be excited to learn! When you use Memrise, you're entering into a friendly competition.</p>
	</div>

	<div class="second">
		<p class="second">Choose the courses that suit you best, or make your own to share. Rack up points by answering question correctly, and let us worry about when you need to dust off that flashcard and study it again. But think hard! The more accurately you answer, the less time you'll spend studying the same words, which means your vacabulary can grow faster than your friends'!</p>
    <%= image_tag "speech2.png", size: "100x90", :class => "speech_icon" %>
		</div>
</div>
