<div class="container">
  <div class="sub-header">
    <h1>Fun and efficient learning</h1>
    <p>______________________________________________________</p>
    <h3>An indispensible tool for your Chinese learning</h3>
    <a href="<%= new_user_url %>">Sign Up - It's Free!</a>

  </div>
</div>