<form class="new-session" action="<%= session_url %>" method="Post">
	<%= auth_token %>


  <a class="facebook-login" href="/auth/facebook">Facebook Login</a>

  <p>----------------or----------------</p>

	<label for="user_email">Email</label>
	<input type="text"
				 name="user[email]"
				 id="user_email">

	<label for="user_password">Password</label>
	<input type="password"
				 name="user[password]"
				 id="user_password">

	<input type="submit" value="Let's go!">
</form>
