<div class="no-cards-container">
  <div class="empty-card">

    <h1>No cards due!</h1>

    <p>At Memgrow, you only study cards when they are due. Based on your history with a card, our super-advanced algorithm will figure out the best time for you to study.<br><br> If you're all out of cards to study, search for some new courses or make one to share!</p>
		<br>
		<a href="#">Back to dashboard</a>
  </div>
</div>