<div class="container">

<div class="new-card">
	<form class="new-card">

		<label for="card_character">Chinese Character</label>
		<input type="text" name="card[character]">

		<label for="card_pinyin">Pinyin (phonetic)</label>
		<input type="text" name="card[pinyin]">

		<label for="card_english">English</label>
		<input type="text" name="card[english]">

		<input type="submit" value="Create Card!">
	</form>
</div>

<a class="finish-cards"
	href="#">Finish Cards for This Course</a>

</div>
