<div class="card-container">
  <form class="card-quiz" action="#">

    <input type="hidden" name="_method" value="Patch">

    <h1><%= card.escape("character") %></h1>

    <label for="answer_pinyin">Pinyin</label>
    <input type="text" id="answer_pinyin" name="answer[pinyin]">

    <label for="answer_english">English</label>
    <input type="text" id="answer_english" name="answer[english]">

    <input type="submit" value="Answer">
		
		<div class="more-info">?</div>
		<div class="right-tool-tip hidden">Memgrow ignores tone marks for now, so just type in the correct letters. It is not sensitive to spacing, so <i>niurou</i> and <i>niu rou</i> are both correct pinyin for <i>牛肉</i>.<br><br> English translations are case insenstitive but must match the definition letter-for-letter.<br><br>If you're really stuck, you can check the correct answer in the<a href="#/courses/<%= course.id %>">course page.</a></div>
  </form>
</div>
