<ul class="comments-index">
<% comments.each do |comment| %>
  <li class="comment">
    <p><%= comment.content %></p>
    <p class="author-date-info">Posted by
      <a href="<%= user_url(comment.author_id) %>">
        <%= User.find(comment.author_id).username %>
      </a> @ <%=comment.created_at %>
    </p>
  </li>
<% end %>
</ul>