<div class="user-nav sub-header">
  <h1><%= current_user.escape("username") %></h1>
  <ul class="user-info">
    <li><img src="friends.png"></li>
    <li><h3><%= current_user.escape("friends").length %>
      <a href="#">Friends</a></h3></li>
    <li><img src="baby-panda.png"> image</li>
    <li><h3>Words</h3></li>
    <li><img src="star.png"></li>
    <li><h3><%= current_user.escape("points") %> Points</h3></li>
  </ul>
</div>

<div class="stats">

  <h1><img src="/stats.png"> Stats</h1>

  <div>Render user stats here</div>

</div>

<div class="user-courses">

  <h1><img src="course.png"> <%= current_user.escape("username") %>'s Courses</h1>
  <ul class="user-courses">

  </ul>
</div>

<div class="leaderboard">
  <h1><img src="trophy.png"> Leaders</h1>
  <ol class="leaders">
    <li>render leaders here</li>
  </ol>

</div>