<h3>Cards Studied:</h3>
<p><%= cards_studied %></p>

<h3>Errors:</h3>
<p><%= study_errors %></p>

<h3>Accuracy:</h3>
<% if ((cards_studied.to_f - study_errors) / cards_studied * 100).round(2).nan? %>
<p>0%</p>
<% else %>
<p><%= ((cards_studied.to_f - study_errors) / cards_studied * 100).round(2) %>%</p>
<% end %>
