<div class="user-nav sub-header">
	<h1><%= @user.username %></h1>
</div>

<div class="stats">
  <h3>Stats</h3>
</div>

<div class="leaderboard">
  <h3>Leaderboard</h3>
</div>

<div class="user-courses">
  <h2><%= @user.username %>'s Courses</h2>
  <ul class="user-courses">
    <% @user.courses.each do |course| %>
    <li><%= course.title %></li>
    <% end %>
  </ul>
</div>