<div class="card-container">
  <form class="card-quiz">

    <h1><%= @card.character %></h1>

    <label for="card_pinyin">Pinyin</label>
    <input type="text" id="card_pinyin">

    <label for="card_english">English</label>
    <input type="text" id="card_english">

    <input type="submit" value="Answer">
  </form>
</div>