/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html, body, div, span, h1, h2, h3, p, button, ul, li, a {
  border: 0;
  margin: 0;
  padding: 0;
  font-family: inherit;
  list-style: none;
}

html {
  height: 100%;
  width: 100%;
}

body {
  font-family: sans-serif;
  height: 100%;
}

div.header {
	width: 100%;
	height: 125px;
  min-width: 800px;
  background-color: #15a1ec;
}

div.footer {
	width: 100%;
	height: 125px;
  background-color: #15a1ec;
  clear:both;
}

span.logo {
	position: relative;
	top: -10px;
	float: left;
	width: 30px;
}

ul.navbar {
  min-width: 600px;
  display: block;
  float:right;
}

ul.navbar > li {
  display: block;
  float: left;
  padding: 5px;
  margin: 5px;
  background-color: white;
  color: black;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-weight: bold;
}

div.container {
  min-height: 700px;
}

form.button_to > div > input {
  font-weight: bold;
  color: black;
}

form.button_to {
  display: block;
  width: 50px;
  height: 8px;
  float: right;
  padding-top: 10px;
  padding-right: 5px;
}

ul.navbar > li > a {
  color: black;
}

a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
}

.sub-header {
//  background-image: image_url('Colored-Textures/5.jpg');
background-color: beige;
}

input.log-out {
  border: 0;
  margin: 0;
  padding: 0;
  background-color: transparent;
  text: inherit;
  cursor: pointer;
  font-size: 16px;
  display: block;
  position: relative;
  top: -10px;
  font-family: sans-serif;
}

a {
  color: black;
}
