// Place all the styles related to the cards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div.container {
	min-height: 500px;
}

form.new-card {
	padding: 15px;
	border-bottom: 1px solid #ccc;
	background-image: image-url('pattern-grey.v1.png');
	font-weight: bold;
}

form.new-card > input[type=submit] {
	background: rgb(4, 83, 36);
	color: white;
	border: 0;
	box-shadow: 0;
	cursor: pointer;
	border-radius: 5px;
	margin-left: 10px;
	font-size: 14px;
}

a.finish-cards {
	display: block;
	width: 200px;
	padding: 5px;
	border-radius: 5px;
	cursor: pointer;
	text-align: center;
	margin: 30px;
	background: #15a1ec;
	color: white;
	font-weight: bold;
	letter-spacing: 1px;
}

div.cards-index {
  float:left;
}

div.cards-index > h2 {
  padding: 10px;
}

ul.card-attrs {
  padding: 10px;
}

ul.card-attrs > li {
  padding: 10px;
  float: left;
}

div.card-container {
  min-height: 500px;
}

form.card-quiz {
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 5px;
	background-image: image-url('pattern-grey.v1.png');
  width: 200px;
  padding: 10px;
  margin: 50px auto;
}

form.card-quiz.wrong {
	border: 5px solid red;
}

form.card-quiz.correct {
	border: 5px solid green;
}

form.card-quiz > h1 {
  padding: 15px;
  margin: 25px auto;
}

form.card-quiz > input {
  display: block;
  clear: both;
  text-align: center;
  margin: 10px auto;
}

form.card-quiz > input[type=submit] {
	background: rgb(4, 83, 36);
	color: white;
	border: 0;
	box-shadow: 0;
	cursor: pointer;
	border-radius: 5px;
	// margin-left: 10px;
	font-size: 14px;
}

form.card-quiz > label {
	font-weight: bold;
}

a.finish-cards:hover {
	box-shadow: 3px 3px 3px black;
}
