// Place all the styles related to the courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.show-course-header {
  margin: 0 auto;
  text-align: left;
  padding: 20px;
  text-align: center;
}

div.course-cards {
  width: 100%;
  height: 770px;
  padding: 15px;
  text-align: left;
}
div.new-course-header {
  margin: 0 auto;
  text-align: left;
  padding: 20px;
	height: 85px;
}

form.new-course {
  margin: 30px auto;
  width: 200px;
  height: 300px;
  padding: 50px;
  border: 1px solid beige;
  border-radius: 5px;
  background: beige;
  text-align:center;
}

form.new-course > label {
  text-align: center;
  font-weight: bold;
}

form.new-course > input {
  margin: 15px auto;
  display: block;
}

form.new-course > button[type=button] {
  color: green;
  font-weight: bold;
  background: beige;
  cursor: pointer;
  background: white;
  height: 20px;
  width: 125px;
  border: 1px solid beige;
  margin: 15px auto;
}

form.new-course > input[type=submit] {
  margin: 15px auto;
  display: block;
  position: relative;
  left: 45px;
  background: green;
  color: white;
  border: 0;
  box-shadow: 0;
  cursor: pointer;
  border-radius: 5px;
  margin-left: 10px;
  font-size: 14px;
}

div.courses-header {
  height: 125px;
}

div.courses-header > h1 {
  display: block;
  position: relative;
  top: 25px;
  margin-left: 25px;
}

form.search-bar {
  position: relative;
  right:15px;
  float: right;
}

div.show-course-header > form.button_to {
  position: relative;
  top: -25px;
}

div.categories {
  height: 700px;
  width: 190px;
  text-align: center;
  padding: 15px;
  float:left;
}

div.course-list {
  float: left;
  min-height: 799px;
  width: 500px;
  padding-left: 15px;
  padding-top: 15px;
  border-left: 10px solid beige;
}

ul.course-list {
  float: left;
  width: 735px;
}

ul.course-list:after{
 content:"";
 display: block;
 clear: both;
}

ul.course-list:after {
  content:"";
  display:block;
  clear:both;
}

div.categories > h3 {
  padding: 25px;
}

ul.course-list > li {
  display: block;
  float: left;
  padding: 25px;
  height: 175px;
  text-align: center;
  margin: 10px;
  text-align: center;
}

ul.course-list > li > a > img {
  margin: 0 auto;
  width: 100px;
  height: 100px;
  display: block;
}

ul.course-list form.new-enrollment {
  display: block;
  position: relative;
  top: -10px;
  clear: both;
}

ul.course-list form.new-enrollment > input[type=submit] {
  margin: 15px auto;
  display: block;
  background: #15a1ec;
  color: white;
  font-weight: bold;
  border: 0;
  box-shadow: 0;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
}

ul.category-list > li {
  padding: 15px;
}

div.show-course-header form.new-enrollment {
  float: right;
  position: relative;
  top: -15px;
}

div.comments {
  border-right: 1px solid black;
  width: 400px;
  float: left;
  height: 800px;
  text-align: center;
  padding: 15px;
}

div.comments > h2 {
  padding-top: 10px;
  padding-bottom: 10px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

table {
  position: relative;
  left: 15px;
  top: 15px;
}

th,td {
    padding: 15px;
}

tr:nth-child(1) {
  background-color: #15a1ec;
  color: white;
}

tr:nth-child(even) {
  background-color: beige;
}

ul.comments-index > li {
  margin: 10px;
  padding:5px;
  border: 1px solid #15a1ec;
  border-radius: 5px;
}

p.author-date-info {
  font-size: 12px;
  margin-top: 4px;
}

p.author-date-info > a {
  display: inline;
  font-weight: bold;
}
