// Place all the styles related to the courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div.show-course-header {
  margin: 0 auto;
  text-align: left;
//  border-bottom: 1px solid black;
  padding: 20px;
  text-align: center;
}

div.show-course-header > h1 {
  //display: block;
//  position: relative;
//  top: 25px;
}

div.course-cards {
  width: 100%;
  height: 770px;
  padding: 15px;
  text-align: left;
}

div.course-cards > h2 {
//  display: block;
//  position: relative;
//  left: 15px;
}

div.new-course-header {
  margin: 0 auto;
  text-align: left;
//  border-bottom: 1px solid black;
  padding: 20px;
	height: 85px;
}

form.new-course {
  margin: 30px auto;
  width: 200px;
  height: 300px;
  padding: 50px;
  border: 1px solid black;
  border-radius: 5px;
}

form.new-course > label {
  text-align: center;
}

form.new-course > input {
  margin: 15px auto;
  display: block;
}

div.courses-header {
//  border-bottom: 1px solid black;
  height: 125px;
}

div.courses-header > h1 {
  display: block;
  position: relative;
  top: 25px;
}

form.search-bar {
  position: relative;
  right:15px;
  float: right;
}

div.show-course-header > form.button_to {
  position: relative;
  top: -25px;
}

div.categories {
  height: 800px;
  width: 250px;
  border-right: 1px solid black;
  text-align: center;
  padding: 15px;
  float:left;
}

div.course-list {
  float: left;
  height: 740px;
  padding: 30px;
}

ul.course-list {
  float: left;
}

ul.course-list {
  content:"";
  display:block;
  clear:both;
}

div.categories > h3 {
  padding: 25px;
}

ul.course-list > li {
  display: block;
  float: left;
  padding-top: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
}

ul.category-list > li {
  padding: 15px;
}

form.new-enrollment {
  float: right;
  position: relative;
  top: -15px;
}