// Place all the styles related to the friendships controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
ul.friends-list {
  min-height: 700px;
  display: block;
}

ul.friends-list > li {
  float: left;
  padding: 25px 0;
  width: 200px;
  text-align: center;
  font-weight: bold;
  margin-top: 10px;
  margin-left: 10px;
}

ul.friends-list > li > a {
  display: block;
  margin: 0 auto;
  padding: 5px;
}

ul.friends-list > li input[type=submit] {
  text-decoration: none;
  font-weight: bold;
  color: white;
  width: 75px;
  display: block;
  padding: 5px 10px;
  margin: 2px auto;
  background: #15a1ec;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0;
  outline: 0;
  border: 0;
  font-size: 14px;
}

ul.friends-list > li img {
  display: block;
  margin: 0 auto;
  width: 125px;
  height: 125px;
  border-radius: 5px;
}

div.friends-list {
  height: 125px;
}

div.friends-list > h1 {
  position: relative;
  left: 25px;
  top: 25px;
}

form.create-delete-friend > input {
  margin: 15px auto;
  display: block;
  position: relative;
  left: 45px;
  background: green;
  color: white;
  border: 0;
  box-shadow: 0;
  cursor: pointer;
  border-radius: 5px;
  margin-left: 10px;
  font-size: 14px;
}
