// Place all the styles related to the friendships controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
ul.friends-list {
  min-height: 700px;
  display: block;
}

ul.friends-list > li {
  padding: 25px;
}

div.friends-list {
  height: 125px;
}

div.friends-list > h1 {
  position: relative;
  left: 25px;
  top: 25px;
}