// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//div.sign-up {
//  margin: 30px auto;
//  height: 50px;
//  width: 75px;
//  border: 1px solid black;
//  border-radius: 5px;
//  text-align: center;
//}

div.sub-header.landing-page {
  height: 350px;
  text-align: center;
	background-image: image-url('noise-blue.png');
}

div.sub-header.landing-page > h1 {
  padding-top: 20px;
	width: 1000px;
	margin: 0 auto;
	font-size: 36px;
	color: white;
	border-top: 1px solid rgba(0,0,0,0.15);
	letter-spacing: 1px;
}

div.sub-header.landing-page > h3 {
  padding-top: 10px;
	width: 500px;
	margin: 20px auto;
	border-top: 1px solid rgba(0,0,0,0.15);
	color: white;
	letter-spacing: 1px;
}

div.sub-header.landing-page > a {
  display: block;
  margin: 30px auto;
  height: 15px;
  width: 170px;
  text-align: center;
	text-shadow: 0 1px 0 #699f30;
  border-radius: 30px;
  padding: 20px;
  font-size: 16px;
  font-weight: bold;
	letter-spacing: 1px;
  color: white;
	box-shadow: 1px 1px 1px #94BFFF;
	border: 1px solid #699f30;
	background-color: #5bb75b;
	background-image: -moz-linear-gradient(top, #62c462, #51a351);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));
}

div.sub-header.landing-page > a:hover {
	background-image: -moz-linear-gradient(top, #51a351, #2A5F2A);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#51a351), to(#2A5F2A));
	box-shadow: 1px 1px 1px #51a351;
}

div.search-results {
  min-height: 500px;
}

div.search-results > h1 {
  padding: 30px;
  background-image: image-url('pattern-grey.v1.png');
}

div.search-results > ul {
  padding: 30px;
}

div.landing-image {
	position: relative;
	top: -110px;
	height: 150px;
	background-image: image-url('footer.v1.png');
}

div.container {
	text-align: center;
	min-height: 100%;
}

div.first {
  width: 600px;
  margin: 0 auto;
  padding: 20px;
  padding-bottom: 0;
  height: 125px;
}

div.second {
  width: 600px;
  margin: 20px auto;
  margin-top: 0;
  padding: 20px;
  padding-top: 0;
  height: 125px;
}

div.container  p {
	color: #3E3E3E;
	text-align: left;
	// padding: 25px;
  display: inline;
  float: left;
  width: 500px;
}

h1.how {
	color: #3E3E3E;
  padding: 15px;
}

.speech_icon {
  display: inline;
  float: left;
}




// scroll past
