// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.user-show {
  width: 100%;
  min-width: 900px;
}

form.new-user {
  margin: 30px auto;
  width: 200px;
  height: 300px;
  padding: 50px;
  border: 1px solid black;
  border-radius: 5px;
}

form.new-user > label {
  text-align: center;
}

form.new-user > input {
  margin: 15px auto;
  display: block;
}

div.user-nav {
  height: 200px;
  min-width: 1000px;
}

div.user-nav > h1 {
	display: block;
	position: relative;
	top: 30px;
  margin-left: 25px;
}

div.stats {
  border-right: 1px solid black;
  min-width: 200px;
  float: left;
  height: 800px;
  text-align: center;
  padding: 15px;
  width: 22%;
}

div.leaderboard {
  border-left: 1px solid black;
  width: 22%;
  float: right;
  height: 800px;
  text-align: center;
  padding: 15px;
}

div.user-courses {
  width: 44%;
  height: 800px;
  text-align: center;
  padding-top: 20px;
  margin:0;
  float: left;
}

div.user-courses > h1 {
  padding: 15px;
}

div.user-courses > ul > li {
  padding: 10px;
}

div.user-courses > ul > li > a {
  color: #15a1ec;
}

ul.user-info {
  float: right;
//  margin-right: 25px;
  width: 700px;
  min-width: 500px;
}

ul.user-info > li {
  float: left;
  padding: 15px;
}

div.stats > h1 {
  padding-top: 40px;
  padding-bottom: 20px;
}

div.leaderboard > h1 {
  padding-top: 40px;
  padding-bottom: 20px;
}

div.stats > p {
  padding-top: 10px;
  padding-bottom: 10px;
}

ul.user-info > li > h3 > a {
  display: inline;
  color: #15a1ec;
}

ul.user-courses > li > h3 > a {
  display: inline;
}

ol.leaders > li {
  padding: 10px;
  margin-bottom: 5px;
}

ol.leaders > li:nth-child(1) {
  padding: 10px;
  border: 2px solid gold;
}

ol.leaders > li:nth-child(2) {
  padding: 10px;
  border: 2px solid silver;
}

ol.leaders > li:nth-child(3) {
  padding: 10px;
  border: 2px solid orange;
}

a.facebook-login {
  padding-top:20px;
  margin:0;
  border:0;
  height:50px;
  width:200px;
  background-color: navy;
  border-radius: 30px;
  color: white;
  margin: 0 auto;
}

form.new-user {
  text-align:center;
}

form.new-user > p {
//  display:block;
  text-align:center;
  margin-bottom: 15px;
  margin-top: 30px;
  font-weight: bold;
}

a.study {
  text-decoration: none;
  color: white;
  width: 50px;
  display: block;
  padding: 5px 10px;
  margin: 5px auto;
  background: green;
  border-radius: 5px;
  cursor: pointer;
}
