// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.user-show {
  width: 100%;
  min-width: 900px;
}

form.new-user {
  margin: 30px auto;
  width: 200px;
  height: 300px;
  padding: 50px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-image: image-url('pattern-grey.v1.png');
  font-weight: bold;
}

form.new-user > label {
  text-align: center;
}

form.new-user > input {
  margin: 15px auto;
  display: block;
}

form.new-user > input[type=submit] {
  margin: 25px auto;
  display: block;
  background: rgb(4, 83, 36);
  color: white;
  border: 0;
  box-shadow: 0;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
}

div.user-nav {
  padding-top: 25px;
  height: 150px;
  min-width: 1000px;
}

div.user-nav > h1 {
	display: block;
	float:left;
  margin-left: 25px;
  width: 200px;
}

div.stats {
  padding:0;
  border-right: 10px solid rgb(240, 240, 240);
  min-width: 200px;
  float: left;
  height: 800px;
  text-align: center;
  width: 24%;
}

div.user-courses {
  padding:0;
  width: 48%;
  height: 800px;
  text-align: center;
  float: left;
}

div.leaderboard {
  padding:0;
  border-left: 10px solid rgb(240, 240, 240);
  width: 24%;
  float: right;
  height: 800px;
  text-align: left;
}

div.user-courses > h1 {
  padding: 15px;
}

div.user-courses > ul > li {
  padding: 10px;
}


ul.user-info {
  float: left;
  width: 100%;
  min-width: 500px;
  position: relative;
}

ul.user-info > li {
  float: left;
  padding: 15px;
}

ul.user-info > li.icon {
  padding: 0px;
}

div.stats > h1 {
  padding-top: 40px;
  padding-bottom: 20px;
}

div.leaderboard > h1 {
  padding-top: 40px;
  padding-bottom: 20px;
}

div.stats > p {
  padding-top: 10px;
  padding-bottom: 10px;
}

ul.user-info > li > h3 {
  display: inline;
}

ul.user-info > li > h3 > a {
  display: inline;
  color: #5bb75b;
}

ul.user-courses > li > h3 > a {
  display: inline;
}

ol.leaders > li {
  padding: 10px;
  margin-bottom: 5px;
}

ol.leaders > li:nth-child(1) {
  padding: 10px;
  border: 2px solid gold;
}

ol.leaders > li:nth-child(2) {
  padding: 10px;
  border: 2px solid silver;
}

ol.leaders > li:nth-child(3) {
  padding: 10px;
  border: 2px solid orange;
}

form.new-user {
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 250px;
  width: 300px;
  height: 300px;
  padding: 50px 25px;
  text-align: center;
  border: 1px solid #ccc;
}

form.new-user > p {
  text-align:center;
  margin-bottom: 15px;
  margin-top: 30px;
  font-weight: normal;
}

a.study {
  text-decoration: none;
	font-weight: bold;
  color: white;
  width: 50px;
  display: block;
  padding: 5px 10px;
  margin: 5px auto;
  background: #15a1ec;
  border-radius: 5px;
  cursor: pointer;
}

a.study:hover {
  box-shadow: 3px 3px 3px black;
}

form.add-pic {
  display: block;
  width: 50px;
}

form.add-pic > button {
  height: 25px;
  width: 25px;
  background-image: image-url('pattern-grey.v1.png');
  color: #5bb75b;
  cursor: pointer;
}

ul.user-info > li {
  float:left;
}

ul.user-info:after {
  display: block;
  content: "";
  clear:both;
}

img.profile-pic {
  width: 125px;
  height: 125px;
  border-radius: 5px;
  margin-right: 4px;
  box-shadow: 3px 3px 3px #888888;
}

form.find-friends {
  display: block;

}

form.find-friends > input[type=text] {
  height: 25px;
  width: 150px;
}

form.find-friends > input[type=submit] {
  height: 25px;
  width: 25px;
  background: #5bb75b;
  color: white;
  border: 0;
  box-shadow: 0;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
}

input#username {
	height: 30px;
	font-size: 28px;
}

ul.user-info > li.right {
	float: right;
}

a.back-to-dash{
	color: #15a1ec;
}

div.search-preview.hidden {
	display: none;
}

div.search-preview {
	display: block;
	position: relative;
	width: 154px;
	border-left: 1px solid #15a1ec;
	border-right: 1px solid #15a1ec;
	background: white;
}

a.match {
	display: block;
	border-bottom: 1px solid #15a1ec;
	padding: 5px;
	cursor: pointer;
	font-size: 14px;
}

a.match:hover {
	background: #15a1ec;
}